@model IEnumerable<WSFrameworkFrontend.Models.ProductViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jscolor.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body style="background-color:#@ViewBag.BgColor">
    <div class="navbar navbar-inverse navbar-fixed-top sticky" role="navigation" style="border-color:#@ViewBag.MenuColor; background-color:#@ViewBag.MenuColor; max-height: 50px;">
        <div class="container">
            <div class="navbar-header">
                <label class="navbar-brand navbar-title" style="float:none;color:#@ViewBag.MenuTextColor;">Checkout</label>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a style="color:#@ViewBag.MenuTextColor;" href="/Shop/ViewCart">Cart(@ViewBag.ProductsInCart)</a></li>
                    <li><a style="color:#@ViewBag.MenuTextColor;" href="#">Checkout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div class="container body-content" style="background:white">
        <br />
        <table class="table">
            <tr>
                <th style="min-width:150px">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th style="min-width:150px">
                    Amount
                </th>
                <th style="min-width:150px">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th style="min-width:150px">
                    Total
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="min-width:150px">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td style="min-width:150px">
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td style="min-width:150px">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td style="min-width:150px">
                        $@(item.Price*item.Stock)
                    </td>
                    <td>
                        <a href="/Shop/ViewShopProduct/@item.Id" class="btn btn-default" role="button">View Details</a>
                    </td>
                </tr>
            }

        </table>
        <hr />
        <h4>Total Price: $@ViewBag.TotalPrice</h4>
        <hr />
        <a href="/Shop/Customer/@Model.First().ShopId" class="btn btn-success" role="button">Checkout</a>
        <p style="text-align:center">
            <a href="/Shop/ViewShop/@Model.First().ShopId">Go to Webshop</a>
        </p>
    </div>
</body>
</html>
